:root {
	--ff: "Nunito", sans-serif;

	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;
	--fw-black: 900;

	--line-2: 0.125rem;
    --line-4: 1.25rem;


	--col-bg: hsl(176, 30%, 21%);
	/* element bg */
	--col-surface: hsl(176, 38%, 31%);
	/* one level up */
	--col-surface2: hsl(176, 30%, 41%);
	/* primary colors */
	--col-p-200: hsl(52, 71%, 87%);
	--col-p-500: hsl(52, 71%, 67%);
	--col-p-700: hsl(52, 65%, 60%);
	/* secondary colors */
	--col-s-200: hsl(52, 71%, 87%);
	--col-s-500: hsl(52, 71%, 67%);
	--col-s-700: hsl(52, 65%, 60%);

	/* text colors */
	--col-on-bg: #9aa5ce;
	--col-on-surface: #a9b1d6;
	--col-on-primary: #1a1b26;
	--col-on-secondary: #1a1b26;

	/* GitHub Theme */
	/* Surface Colors */
	/* --surface-0: #1D2128;
	--surface-1: #23272E;
	--surface-2: #2D333B; */
	/* Text colors */
	/* --surface-8: #768390;
	--surface-9: #ADBAC7;
	--surface-10: #CDD9E5;
	--border: #444C56;
	 */
}
body {
	background-color: var(--col-bg);
	color: var(--col-on-surface);

	font-family: var(--ff);

}
::-webkit-scrollbar {
	width: 0px;
}
h1 {
	font-size: 2.125rem;
}
h2 {
	font-size: 1.875rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1rem;
}
header {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	background-color: var(--col-p-500);

	/* border-bottom: var(--line-2) solid var(--col-p-500); */

}
header h1,
header p {
	color: var(--col-on-primary);
}
.type {
	display: flex;
	position: relative;
	background-color: var(--col-surface);
	margin: 2rem;
	border-radius: 12px;
	border: var(--line-2) solid var(--border);
}
.type aside,
.color aside {
	width: 20%;
	color: var(--col-on-surface);
	text-align: center;
}
.type aside h2,
.color aside h2 {
	font-weight: var(--fw-medium);
	padding: 1rem;
	font-size: 2rem;
	text-align: right;
	color: var(--col-s-200);
}
.type-area {
	padding: 1rem 2rem;
	display: grid;
	width: 80%;
	grid-template-areas:
		"A"
		"B"
		"C"
        ;
}
.title-area {
	grid-area: A;
}
.title-area h2 {
	color: var(--col-s-500);
	font-weight: var(--fw-medium);
	font-size: 2rem;
	text-align: center;
}
.title-area p {
	color: var(--col-s-700);
	font-weight: var(--fw-regular);
	font-size: 1.25rem;
	text-align: center;
	padding-bottom: 2rem;
}
.weight {
	grid-area: B;
	display: flex;
	justify-content: space-between;
}
.weight figure {
	border: var(--line-2) solid var(--col-surface2);
	position: relative;
	min-width: 140px;
	width: 18%;
	border-radius: 6px;
}
.top {
	border-bottom: var(--line-2) solid var(--col-surface2);
	padding: 0.5rem;
}
.bottom {
	padding: 0.5rem;
	color: var(--col-s-200);
}
.bottom h3 {
	font-weight: var(--fw-light);
}
#top1 h1 {
	font-size: 5rem;
	font-weight: var(--fw-light);
	color: var(--col-s-500);
	text-align: center;
}
#top2 h1 {
	font-size: 5rem;
	font-weight: var(--fw-regular);
	color: var(--col-s-500);
	text-align: center;
}
#top3 h1 {
	font-size: 5rem;
	font-weight: var(--fw-medium);
	color: var(--col-s-500);
	text-align: center;
}
#top4 h1 {
	font-size: 5rem;
	font-weight: var(--fw-bold);
	color: var(--col-s-500);
	text-align: center;
}
#top5 h1 {
	font-size: 5rem;
	font-weight: var(--fw-black);
	color: var(--col-s-500);
	text-align: center;
}
.h1 {
	grid-area: C;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
	margin: auto 0;
}
.h1 > * {
	margin: 0;
	padding-top: 0.5rem;
	color: var(--col-p-500);
}
.h1 > p {
	padding: 0 0 0.5rem 0;
	color: var(--col-p-700);
}
.h6 > * {
	margin: 0;
	padding-top: 0.5rem;
	color: var(--col-p-500);
}
.h6 > p {
	padding: 0 0 0.5rem 0;
	color: var(--col-p-700);
}
.h6 {
	grid-area: D;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
	margin: auto 0;
}
.p {
	grid-area: E;
	display: flex;
	width: 100%;
	padding: 2rem;
	flex-direction: column;
	margin: auto 0;
	color: var(--col-p-200);
}
.type-second {
	display: flex;
	grid-area: C;
}
.color {
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: var(--col-surface);
	margin: 2rem;
	border-radius: 12px;
	border: var(--line-2) solid var(--border);
}
.primary h2 {
	color: var(--col-p-500);
}
.secondary h2 {
	color: var(--col-s-500);
}
.neutrals h2 {
	color: var(--col-on-surface);
}
.color-swatch {
	padding: 1rem 2rem;
	display: grid;
	width: 80%;
	grid-template-areas:
		"A"
		"B"
		"D"
        "C";
}
.primary {
	grid-area: A;
	position: relative;
    padding: 1rem 2rem;
}
.secondary {
	grid-area: B;
	position: relative;
    padding: 1rem 2rem;
}
.neutrals {
	grid-area: C;
	position: relative;
    padding: 1rem 2rem;
}
.background {
    grid-area: D;
	position: relative; 
    padding: 1rem 2rem;
}
.primary-color {
	display: flex;
	flex-direction: row;
	width: 100%;
    flex-wrap: wrap;
}
.swatch {
	border: var(--line-2) solid var(--col-surface2);
	border-radius: 6px;
    margin: 1rem;
    max-width: 10rem;
    min-width: 9rem;
}
.swatch figure {
	padding: 1rem;
}
.swatch-inner {
    width: 6rem;
	height: 6rem;
    border-radius: 4px;
    margin: 0 auto;
}
#swatch1 {
	background-color: var(--col-p-200);
}
#swatch1 h3,
#swatch2 h3,
#swatch3 h3 {
	color: var(--col-on-primary);
}
#swatch2 {
	background-color: var(--col-p-500);
}
#swatch3 {
	background-color: var(--col-p-700);
}
#swatch4 {
	background-color: var(--col-s-200);
}
#swatch4 h3,
#swatch5 h3,
#swatch6 h3 {
	color: var(--col-on-secondary);
}
#swatch5 {
	background-color: var(--col-s-500);
}
#swatch6 {
	background-color: var(--col-s-700);
}
#swatch7 {
	background-color: var(--col-on-bg);
    border: var(--line-4) solid var(--col-bg);
}
#swatch8 {
	background-color: var(--col-on-surface);
    border: var(--line-4) solid var(--col-surface);
}
#swatch9 {
	background-color: var(--col-on-primary);
    border: var(--line-4) solid var(--col-p-500);
}
#swatch10 {
	background-color: var(--col-on-secondary);
    border: var(--line-4) solid var(--col-s-500);
}
#swatch11 {
	background-color: var(--col-bg);
}
#swatch12 {
	background-color: var(--col-surface);
    border: var(--line-2) solid var(--col-surface2);
}
#swatch13 {
	background-color: var(--col-surface2);
}
.swatch-info h3 {
	color: var(--col-on-surface);
}
.swatch-info h4 {
	color: var(--col-on-surface);
	padding-top: 1rem;
	text-align: center;
}
.custom-btn {
	color: var(--col-on-primary);
    background-color: var(--col-p-500);
    border-color: var(--col-surface2);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--col-on-primary);
    background-color: var(--col-on-bg);
    background-clip: padding-box;
    border: 1px solid var(--col-surface2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--col-on-primary);
    text-align: center;
    white-space: nowrap;
    background-color: var(--col-surface2);
    border: 1px solid var(--col-surface2);
    border-radius: 0.25rem;
}
.input-group-text2 {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--col-on-primary);
    text-align: center;
    white-space: nowrap;
    background-color: var(--col-surface);
    border: 1px solid var(--col-surface2);
    border-radius: 0.25rem;
}
a {
	text-decoration: none;
	color: var(--col-bg);
}
a:hover,
a:active {
	text-decoration: none;
	color: var(--col-surface2);
}
.form-control:focus {
    color: var(--col-on-primary);
    background-color: var(--col-on-bg);
    border-color: var(--col-surface2);
    outline: 0;
    box-shadow: 0 0 0 0.125rem var(--col-p-200);
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.125rem var(--col-p-200);
}
.fa-solid {
	color: var(--col-surface);
}
.fa-regular {
	color: var(--col-surface);
}
.bii {
	color: var(--col-bg);
}
.sii {
	color: var(--col-surface);
}
.boi {
	color: var(--col-surface2);
}
.p2 {
	color: var(--col-p-200);
}
.p5 {
	color: var(--col-p-500);
}
.p7 {
	color: var(--col-p-700);
}
.s2 {
	color: var(--col-s-200);
}
.s5 {
	color: var(--col-s-500);
}
.s7 {
	color: var(--col-s-700);
}
.tob {
	color: var(--col-on-bg);
}
.tos {
	color: var(--col-on-surface);
}
.topp {
	color: var(--col-on-primary);
}
.to2 {
	color: var(--col-on-secondary);
}

@media screen and (max-width: 992px) {
	.weight {
		flex-wrap: wrap;
	}
	.type-second {
		flex-wrap: wrap;
	}
    .swatch-inner {
        width: 7rem;
        height: 7rem;
    }

}
@media screen and (max-width: 576px) {
	.type {
		flex-direction: column;
		align-items: center;
	}
	.type aside {
		width: 100%;
	}
}
